asgiref==3.8.1
async-timeout==5.0.1
blinker==1.8.2
cachetools==5.5.2
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==41.0.7
# Optional: dnspython for MX record validation (currently disabled)
# dnspython==2.4.2
dj-database-url==2.1.0
Django==4.2.10
django-cors-headers==4.3.1
django-debug-toolbar==4.2.0
django-defender==0.9.7
django-extensions==3.2.3
django-ratelimit==4.1.0
django-secure==1.0.2
django-storages==1.14.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
Flask==3.0.3
gevent==24.2.1
google-api-core==2.24.2
google-auth==2.39.0
google-cloud-core==2.4.3
google-cloud-secret-manager==2.16.4
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpc-google-iam-v1==0.14.2
grpcio==1.70.0
grpcio-status==1.62.3
gunicorn==21.2.0
idna==3.10
importlib_metadata==8.5.0
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==25.0
passlib==1.7.4
paytmchecksum==1.7.0
Pillow==10.1.0
pip==24.0
proto-plus==1.26.1
protobuf==4.25.6
psutil==7.0.0
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.22.0
PyJWT==2.9.0
pyOpenSSL==23.3.0
python-dotenv==1.0.0
pytz==2025.2
PyYAML==6.0.2
razorpay==1.4.1
redis==5.2.1
requests==2.32.3
rsa==4.9.1
sentry-sdk==1.38.0
setuptools==80.7.1
sqlparse==0.5.3
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.2.3
Werkzeug==3.0.6
whitenoise==6.6.0
WTForms==3.1.2
zipp==3.20.2
zope.event==5.0
zope.interface==7.2